.container{
    border: 1px solid black;
    background-color: #FFF;
    margin-top: 20px;
    
}

.col{
    border: 1px solid black;
}


.navbar-nav{
    padding: 0;
}

#firstRow{
    padding: 0;
}

#firstCol{
    padding: 0;
}

#mainRow{
    height: 500px;
    background-color: skyblue;
}

#lastRow{
    height:150px;
}

#lastRow h6{
    margin-top: 65px;
}

body{
    background-color: rgb(247, 244, 244);
}

a{ 
    margin-right: 80px;
}

.navbar-brand{
    margin-right: 80px;
}

.col-8 img{
    height: 400px;
    margin-top: 50px;
    margin-right: 5px;
}

.col-8{
    padding: 0;
    padding-right: 10px;
}

.carousel-control-next{
    margin-right: 0px;
    margin-left: 80px;

}